.DS_Store
**/.DS_Store

__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

.idea/
.vscode/
.history/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

node_modules/

*.log
*.tmp
*.swp
